.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
.swagger-codegen
package-lock.json
.DS_Store
personal
input.json
input.yaml
.vite
openapi*.yml
research/*.png
.env